.product-counter {
  height: 51px;
  background-color: #F7F6F6;
  border-radius: 6px;
  display: flex;
  align-items: center;

  &__value {
    font-weight: 600;
    font-size: 14px;
    line-height: 210%;
    width: 47px;
    text-align: center;
  }

  &__controls {
    height: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__control {
    cursor: pointer
  }
}