@import "../res/scss/bps.scss";

.catalog-page {
  &__content {
    display: flex;
    flex-direction: column;
    @include bp3 {
      padding: 0 16px;
    }
  }

  &__select {
    align-self: flex-end;
    margin-bottom: 35px;
  }

  &__products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 32px;
    grid-row-gap: 48px;
    @include bp2 {
      grid-template-columns: repeat(2, 1fr);
    }
    @include bp3 {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}