@import "../../res/scss/bps.scss";

.header {
  height: 76px;
  background-color: #CCCCCC;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 33px;
  @include bp3 {
    height: 89px;
    padding: 17.5px 16px;
    box-sizing: border-box;
    align-items: flex-end;
    margin-bottom: 16px;
  }

  &__logo {
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
    color: white;
    @include bp3 {
      font-size: 18px;
      line-height: 22px;
    }
  }

  &__menu {
    display: flex;
    @include bp3 {
      align-items: center;
    }
  }

  &__menu-item {
    font-size: 16px;
    line-height: 20px;
    margin-right: 32px;
    color: white;
    &:last-child {
      margin-right: 0;
    }
  }

  &__menu-item-text {
    @include bp3 {
      display: none;
    }
  }

  &__menu-item-icon {
    display: none;
    @include bp3 {
      display: block; 
    }
  }
}