@import "../../res/scss/bps.scss";

.product-in-cart {
  display: flex;
  justify-content: stretch;
  gap: 32px;
  padding-bottom: 32px;
  border-bottom: 1px solid #CACDD8;
  margin-bottom: 32px;
  &:last-child {
    padding-bottom: 0;
    border-bottom: none;
    margin-bottom: 0;
  }

  &__img {
    flex-shrink: 0;
    width: 173px;
    height: 173px;
    object-fit: cover;
    @include bp3 {
      display: none;
    }
  }

  &__content {
    flex-grow: 1;
  }

  &__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 14px;
    @include bp3 {
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 8px;
    }
  }

  &__desc {
    font-size: 14px;
    line-height: 17px;
    color: #888888;
    margin-bottom: 16px;
    @include bp3 {
      font-size: 12px;
      line-height: 15px;
      margin-bottom: 15px;
    }
  }

  &__price {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #050505;
    margin-bottom: 15px;
    @include bp3 {
      font-size: 12px;
      line-height: 15px;
    }
  }

  &__add-to-fav,
  &__remove-from-cart {
    font-size: 14px;
    line-height: 210%;
    text-decoration: underline;
    cursor: pointer;
  }

  &__add-to-fav {
    margin-right: 30px;
  }

  &__counter {
    flex-shrink: 0;
    flex-basis: 71px;
    font-weight: 500;
  }
}