.styled-select {
  border-radius: 20px;
  height: 38px;
  color: black;
  font-family: Montserrat;
  font-size: 16px;
  line-height: 20px;

  & .MuiOutlinedInput-notchedOutline {
    border: 1px solid #C4C4C4;
  }

  &__select {
    padding-right: 75px !important;
  }

  &__icon {
    right: 22px;
    top: 13.9px;
  }
}