@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");
@import "./res/scss/bps.scss";

body {
  margin: 0 120px;
  font-family: Montserrat;
  @include bp1 {
    margin: 0 24px;
  }
  @include bp2 {
    margin: 0;
  }
}

a {
  text-decoration: none;
}
